:root {
  --header-height: 48px;

  --border-color-light: #e9ecef;
  --separator-border: var(var(--border-color-light));

  --theme-color-orange: #d9480f;
  --theme-color-orange-light: #e06c3e;
}

.sash {
  /* make sure the sash can be show in the top */
  z-index: 1000;
}

@-webkit-keyframes editor-manual-rotation {

  0%,
  100% {
    transform: rotate(0);
    transform-origin: 50% 50%;
  }

  60% {
    transform: rotate(-15deg);
  }

}


.editor-manual-rotation {
  animation: editor-manual-rotation 1s ease 0.5s;
}